workflow/Workflow_n8n-Whatsapp_Chatbot.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54a53b4-2b79-423b-a190-d8864838383b",
              "name": "IdConversa",
              "value": "={{ $('If').item.json.body.data.chat_id }}",
              "type": "string"
            },
            {
              "id": "42aa16db-af00-4af6-8b74-beff315e40eb",
              "name": "Mensagem",
              "value": "={{ $('If').item.json.body.data.body }}",
              "type": "string"
            },
            {
              "id": "8fd899fe-d05a-4394-ab39-1072186d58a9",
              "name": "Telefone",
              "value": "={{ $json.contact_id.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "08fc8476-a321-4240-aee2-8e73eb7c8f01",
              "name": "Nome",
              "value": "={{ $json.contact_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        0
      ],
      "id": "42b49352-e130-483e-add4-1f3d29184cab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Assistente virtual para WhatsApp, respostas curtas, naturais e objetivas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        344,
        0
      ],
      "id": "6d76e216-f0b4-49d3-88bb-003231940f90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "2f7d7604-19a5-4508-ab17-6d6771b08b12",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "f4a3ab7b-76b3-4e9a-a1ef-82177cfffae5",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "id": "0a4b9587-7242-420e-b601-a3ce7424cf89",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "0bf4a005-cf06-4f47-8893-53c8b46b7c00",
      "name": "No Operation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-msg-whats",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        96
      ],
      "id": "b41a7f89-b692-46c0-8acd-beb49b0c71d1",
      "name": "Webhook",
      "webhookId": "19df9dbd-d319-4781-9298-d740c4bdced5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{$json.body.data.from_me}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "ce618a91-6d20-4131-9e7b-e13254e98ac0"
            },
            {
              "leftValue": "={{ $json.body.data.broadcast }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "1ad0015b-58dd-4a40-9994-311009bd4efb"
            },
            {
              "leftValue": "={{ $json.body.data.chat_id }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "id": "5eeb9f82-edda-461b-8661-9138e88963d5"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        96
      ],
      "id": "d059de09-5426-4a32-ba97-b0ff3a59d78f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        192
      ],
      "id": "908289c3-3162-4b59-97da-2d4366af8ad7",
      "name": "No Operation 2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "GOOGLE_SHEET_ID",
        "sheetName": "SHEET_NAME",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.Nome }}",
            "Whatsapp": "={{ $json.Telefone }}"
          },
          "matchingColumns": [
            "Whatsapp"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "d116f405-fdb0-4e47-bafa-6cd72942c49e",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{$env.API_BASE_URL}}/message/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.API_KEY}}"
            },
            {
              "name": "x-phone",
              "value": "{{$env.PHONE_NUMBER}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Edit Fields').item.json.IdConversa }}"
            },
            {
              "name": "message",
              "value": "[Bot] {{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        0
      ],
      "id": "afba7b8b-7ca2-49cf-b8af-a7c20cc630fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "bda193f5-e8aa-4f92-b8bb-d51e35e862bc",
      "name": "Groq Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a2814bfc-2551-49e1-ab78-52eaf766ec34",
  "meta": {
    "instanceId": "6881d41bdec023eef4e2c62999e2672d60d55f797c002a7e8111096cf513dbf9"
  },
  "id": "UWcQKt2B6uF97Pja",
  "tags": []
}